@model CRUD_TRABAJO.Models.Cliente

<h2>Crear Cliente</h2>

<form asp-action="Crear">

 <div class="form-group">
  <label>Nombre</label>
  <input asp-for="Nombre" class="form-control" />
  <label>Apellido</label>
  <input asp-for="Apellido" class="form-control" />
  <label>Direccion</label>
  <input asp-for="Direccion" class="form-control" />
  <label>Identificacion</label>
  <input asp-for="Identificacion" class="form-control" />
 </div>

 <button class="btn btn-primary">Guardar</button>
 <a asp-action="Index" class="btn btn-secondary">Volver</a>

</form>
